GPNWZT_1001/feladat_3/mozi1.dtd

<!ELEMENT mozi (film+)>
<!ELEMENT film (rendezo,szinesz,iro)>
        <!ATTLIST film id ID #REQUIRED>
        <!ATTLIST film mufaj CDATA>
<!ELEMENT rendezo EMPTY>
        <!ATTLIST rendezo rid CDATA #REQUIRED>
        <!ATTLIST rendezo nev CDATA>
<!ELEMENT szinesz EMPTY>
        <!ATTLIST szinesz sid CDATA #REQUIRED>
        <!ATTLIST szinesz nev CDATA>
<!ELEMENT iro EMPTY>
        <!ATTLIST iro iid ID #REQUIRED>

